# Torch, TorchVision, and CUDA are installed via conda (see environment.yml)
# This file is for pip-installed deps only.

scikit-learn==1.5.1
opencv-python==4.10.0.84
matplotlib==3.9.2
numpy==1.26.4
tqdm==4.66.5
PyYAML==6.0.2
